In [ ]:
#Data Science-Assignment September 13, 2024

In [ ]:
# Q1-convert 80 into float type

In [20]:
num = 80
float_num = float(num)
print(float_num)

80.0

In [ ]:
# Q2- convert 20.9 into a string and check its type

In [6]:
num = 20.9
str_num = str(num)
print(str_num)  
print(type(str_num))  # This will print the type of the variable

20.9
<class 'str'>

In [ ]:
# Q3convert a boolean valua into int

In [10]:
bool_value = True  
int_value = int(bool_value)
print(int_value)

1

In [12]:
bool_value = False  
int_value = bool_value * 1  
print(int_value)

0

In [ ]:
# Q4-convert '123' into float

In [15]:
str_value = '123'
float_value = float(str_value)
print(float_value)

123.0

In [ ]:
# Q1. name = “sidharth anbumani”
# Write code to print the last 4 characters from the name variable : “mani”

In [3]:
name = "sidharth anbumani"
last_four_chars = name[-4:]
print(last_four_chars)

mani

In [ ]:
#Q2. ask the user to input his name then count the number of characters 
#Write code to print the number of characters in the user input

In [29]:
name = input("Please enter your name: ")
num_characters = len(name)
print("Your name has " + str(num_characters) + " characters.")

Please enter your name:  Allan

Your name has 5 characters.

In [ ]:
#Q3. Create an empty list. The name of the list is test.

In [39]:
test = []

In [ ]:
#Q4.  create a string variable which stores the value 
#"It is  always darkest before dawn." also write code to store the words in the sentence to a list

In [11]:
sentence = "It is always darkest before dawn."
words_list = sentence.split()
print(words_list)

['It', 'is', 'always', 'darkest', 'before', 'dawn.']

In [33]:
sentence = "It is always darkest before dawn."
words_list = sentence.split()
num_words = len(words_list)
print("The number of words in the sentence is: " + str(num_words))

The number of words in the sentence is: 6

In [ ]:
#Q6. create a list named money 
#Money =[11, 100, 101, 999, 1001]
#Write code to display the last 2 elements in the list

In [17]:
money = [11, 100, 101, 999, 1001]
last_two_elements = money[-2:]

print(last_two_elements)

[999, 1001]

In [ ]:
#Q7. Using input() function, ask for the current year, then print the answer + 50.
#Example : if the user input is 2022 then output should be 2072.

In [35]:
current_year = int(input("Please enter the current year: "))
future_year = current_year + 50
print("The year 50 years from now will be: " + str(future_year))

Please enter the current year:  2024

The year 50 years from now will be: 2074

In [ ]:
#Q9.  create a dictionary named countries
Countries ={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}
Write code to print the values ( only the values not the keys)

In [21]:
Countries = {"name": "Plato","country": "Ancient Greece","born": -427, "teacher": "Socrates","student": "Aristotle"}
for value in Countries.values():
    print(value)

Plato
Ancient Greece
-427
Socrates
Aristotle

In [ ]:
#Q10.
#NFL=["Panthers", "Bears", "Dolphins",  "Patriots", "Saints", "Giants"]
#Create a list named NFL now print the items in the list in reverse order 
#Output : "Giants"
# "Saints"
#"Patriots"
#"Dolphins"
#"Bears"
#"Panthers"

In [23]:
NFL = ["Panthers", "Bears", "Dolphins", "Patriots", "Saints", "Giants"]
for team in reversed(NFL):
    print(team)

Giants
Saints
Patriots
Dolphins
Bears
Panthers

In [ ]:
#Create a program that asks the user to enter their name and their age. Print out a message that tells them - they are old , adult , child.
#Write a if conditional statement to classify the user as old or young or child
#Old - when user input age is greater than 60
#adult - when user input age is from 20 to 60
#Child -  when user input age is below 20
#Example 1 : user input name : sid , user input age : 36
#Output : sid you are adult!
#Example 2 : user input name : elvis , user input age : 16
#Output : elvis you are child!

In [37]:
name = input("Please enter your name: ")
age = int(input("Please enter your age: "))

if age > 60:
    category = "old"
elif 20 <= age <= 60:
    category = "adult"
else:
    category = "child"
    
print(name + ", you are " + category + "!")

Please enter your name:  Allan
Please enter your age:  40

Allan, you are adult!